Repository 14vasudha/FlavorHive, changes with the labels that .github/labeler.yml gives for each.
All labels: vitest, playwright, configuration, netlify-configuration, base-configuration, app, home, main, lint-configuration, workflow

.github/labeler.yml:

vitest:
  - changed-files:
    - any-glob-to-any-file: 'src/unit-tests/*'

playwright:
  - changed-files:
    - any-glob-to-any-file: 'e2e/*'
    
configuration:
  - changed-files:
    - any-glob-to-any-file: '**/*.config.*'

netlify-configuration:
  - changed-files:
    - any-glob-to-any-file: 'netlify.toml'
    
base-configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package.lock.json'
    
app:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/App.tsx'
      - 'src/App.css'
      - 'src/index.css'

home:
  - changed-files:
    - any-glob-to-any-file: 
      - 'src/components/Home'

main:
- changed-files:
  - any-glob-to-any-file: 
    - 'src/main.tsx'
    - 'index.html'

lint-configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc.cjs'

workflow:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

Update second sync .yml
  .github/workflows/second sync .yml
Labels: workflow

Update second sync .yml
  .github/workflows/second sync .yml
Labels: workflow

Delete .github/workflows/second sync .yml
  .github/workflows/second sync .yml
Labels: workflow

Update auto-sync.yml
  .github/workflows/auto-sync.yml
Labels: workflow

Update auto-sync.yml
  .github/workflows/auto-sync.yml
Labels: workflow

Create auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-sync.yml
  .github/workflows/auto-sync.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

148: Try also section implemented
  src/components/on-the-menu/OnTheMenuRecipeCard.tsx
  src/components/recipe-detail/RecipeDetailImage.tsx
  src/pages/RecipeDetailPage.tsx
  src/services/edamam-api.ts
  src/services/helper-functions.ts
  src/services/use-queries.ts
  src/types/types.ts
Labels: none

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: workflow

Update tailwind.config.js
  tailwind.config.js
Labels: configuration

Update tailwind.config.js
  tailwind.config.js
Labels: configuration

Update tailwind.config.js
  tailwind.config.js
Labels: configuration

Update tailwind.config.js
  tailwind.config.js
Labels: configuration

Update tailwind.config.js
  tailwind.config.js
Labels: configuration
